In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, BooleanType, DoubleType, DataType

In [0]:
spark.conf.set(
    "fs.azure.account.auth.type.tokyoolympicdata7.dfs.core.windows.net",
    "OAuth"
)
spark.conf.set(
    "fs.azure.account.oauth.provider.type.tokyoolympicdata7.dfs.core.windows.net",
    "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider"
)
spark.conf.set(
    "fs.azure.account.oauth2.client.id.tokyoolympicdata7.dfs.core.windows.net",
    "6d0f388e-9994-4929-a434-9e2bed5568de"
)
spark.conf.set(
    "fs.azure.account.oauth2.client.secret.tokyoolympicdata7.dfs.core.windows.net",
    "0xT8Q~Ful8aEO9IPy~ulHJp0DQG2nb623ntGVb7L"
)
spark.conf.set(
    "fs.azure.account.oauth2.client.endpoint.tokyoolympicdata7.dfs.core.windows.net",
    "https://login.microsoftonline.com/3dc0b2ba-8d50-4880-912e-2b72541b458a/oauth2/token"
)

In [0]:
athletes = spark.read.format("csv").option("header", True).option("inferSchema", "true").load("abfss://tokyo-olympic-data@tokyoolympicdata7.dfs.core.windows.net/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header", True).option("inferSchema", "true").load("abfss://tokyo-olympic-data@tokyoolympicdata7.dfs.core.windows.net/raw-data/coaches.csv")
entriesgender = spark.read.format("csv").option("header", True).option("inferSchema", "true").load("abfss://tokyo-olympic-data@tokyoolympicdata7.dfs.core.windows.net/raw-data/entriesgender.csv")
medals = spark.read.format("csv").option("header", True).option("inferSchema", "true").load("abfss://tokyo-olympic-data@tokyoolympicdata7.dfs.core.windows.net/raw-data/medals.csv")
teams = spark.read.format("csv").option("header", True).option("inferSchema", "true").load("abfss://tokyo-olympic-data@tokyoolympicdata7.dfs.core.windows.net/raw-data/teams.csv")

In [0]:
entriesgender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
# Một cách khác để cast sang proper data type ngoài inferSchema( ban đầu data được read bởi spark sẽ để mặc định là string )
entriesgender = entriesgender.withColumn("Female", col("Female").cast(IntegerType()))\
    .withColumn("Male", col("Male").cast(IntegerType()))\
    .withColumn("Total", col("Total").cast(IntegerType()))

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- TeamCountry: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
# Find the top countries with highest number of gold medals
top_goldmedals_countries = medals.orderBy("Gold", ascending = False ).select("TeamCountry", "Gold")

In [0]:
entriesgender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
average_entries_by_gender = entriesgender.withColumn(
    "Avg_Female", entriesgender["Female"] / entriesgender["Total"]
).withColumn(
    "Avg_Male", entriesgender["Male"] / entriesgender["Total"]
)
average_entries_by_gender.show()

+--------------------+------+----+-----+-------------------+-------------------+
|          Discipline|Female|Male|Total|         Avg_Female|           Avg_Male|
+--------------------+------+----+-----+-------------------+-------------------+
|      3x3 Basketball|    32|  32|   64|                0.5|                0.5|
|             Archery|    64|  64|  128|                0.5|                0.5|
| Artistic Gymnastics|    98|  98|  196|                0.5|                0.5|
|   Artistic Swimming|   105|   0|  105|                1.0|                0.0|
|           Athletics|   969|1072| 2041| 0.4747672709456149| 0.5252327290543851|
|           Badminton|    86|  87|  173|0.49710982658959535| 0.5028901734104047|
|   Baseball/Softball|    90| 144|  234|0.38461538461538464| 0.6153846153846154|
|          Basketball|   144| 144|  288|                0.5|                0.5|
|    Beach Volleyball|    48|  48|   96|                0.5|                0.5|
|              Boxing|   102| 187|  289|0.35294117647058826| 0.6470588235294118|
|        Canoe Slalom|    41|  41|   82|                0.5|                0.5|
|        Canoe Sprint|   123| 126|  249| 0.4939759036144578| 0.5060240963855421|
|Cycling BMX Frees...|    10|   9|   19| 0.5263157894736842|0.47368421052631576|
|  Cycling BMX Racing|    24|  24|   48|                0.5|                0.5|
|Cycling Mountain ...|    38|  38|   76|                0.5|                0.5|
|        Cycling Road|    70| 131|  201| 0.3482587064676617| 0.6517412935323383|
|       Cycling Track|    90|  99|  189|0.47619047619047616| 0.5238095238095238|
|              Diving|    72|  71|  143| 0.5034965034965035| 0.4965034965034965|
|          Equestrian|    73| 125|  198| 0.3686868686868687| 0.6313131313131313|
|             Fencing|   107| 108|  215|0.49767441860465117| 0.5023255813953489|
+--------------------+------+----+-----+-------------------+-------------------+
only showing top 20 rows

In [0]:
athletes.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
# The Spanish team participated in the Tokyo 2021 Olympics
The_Spainish_Team = athletes.filter((athletes["Country"] == "Spain") & (athletes["Discipline"] == "Football")).select("PersonName", "Country", "Discipline")
The_Spainish_Team.show()

+----------------+-------+----------+
|      PersonName|Country|Discipline|
+----------------+-------+----------+
|   CEBALLOS Dani|  Spain|  Football|
|  CUCURELLA Marc|  Spain|  Football|
|FERNANDEZ Alvaro|  Spain|  Football|
|     GARCIA Eric|  Spain|  Football|
|       GIL Bryan|  Spain|  Football|
|  GONZALEZ Pedri|  Spain|  Football|
|    MERINO Mikel|  Spain|  Football|
|  MINGUEZA Oscar|  Spain|  Football|
|        MIR Rafa|  Spain|  Football|
|    MIRANDA Juan|  Spain|  Football|
|       OLMO Dani|  Spain|  Football|
| OYARZABAL Mikel|  Spain|  Football|
|    PUADO Javier|  Spain|  Football|
|      SIMON Unai|  Spain|  Football|
|    SOLER Carlos|  Spain|  Football|
|      TORRES Pau|  Spain|  Football|
|   VALLEJO Jesus|  Spain|  Football|
|     VILLAR Ivan|  Spain|  Football|
|ZUBIMENDI Martin|  Spain|  Football|
+----------------+-------+----------+

In [0]:
from pyspark.sql.functions import col

The_Chinese_Team = (
    athletes.alias("a")
    .join(teams.alias("t"), col("a.Country") == col("t.Country"))
    .filter( (col("a.Discipline") == "Badminton") & (col("t.Event") == "Men") & (col("t.TeamName") == "China") )
    .select(
        col("a.PersonName"),
        col("t.TeamName").alias("Country"),
        col("t.Event"),
        col("a.Discipline")
    )
    .orderBy("Country", "PersonName")
)

The_Chinese_Team.show()

+---------------+-------+-----+----------+
|     PersonName|Country|Event|Discipline|
+---------------+-------+-----+----------+
|      CHEN Long|  China|  Men| Badminton|
| CHEN Qing Chen|  China|  Men| Badminton|
|    CHEN Yu Fei|  China|  Men| Badminton|
|         DU Yue|  China|  Men| Badminton|
|   HE Bing Jiao|  China|  Men| Badminton|
|HUANG Dong Ping|  China|  Men| Badminton|
| HUANG Ya Qiong|  China|  Men| Badminton|
|     JIA Yi Fan|  China|  Men| Badminton|
|     LI Jun Hui|  China|  Men| Badminton|
|     LI Yin Hui|  China|  Men| Badminton|
|    LIU Yu Chen|  China|  Men| Badminton|
|      SHI Yu Qi|  China|  Men| Badminton|
|    WANG Yi Lyu|  China|  Men| Badminton|
|   ZHENG Si Wei|  China|  Men| Badminton|
+---------------+-------+-----+----------+

In [0]:
The_Vietnamese_Team = athletes.filter(athletes["Country"] == "Vietnam").select("*")
The_Vietnamese_Team.show(truncate = False)

+-----------------------+-------+-------------------+
|PersonName             |Country|Discipline         |
+-----------------------+-------+-------------------+
|DINH Phuong Thanh      |Vietnam|Artistic Gymnastics|
|DINH Thi Hao           |Vietnam|Rowing             |
|DO THI ANH Nguyet      |Vietnam|Archery            |
|HOANG Thi Duyen        |Vietnam|Weightlifting      |
|HOANG Xuan Vinh        |Vietnam|Shooting           |
|LE Thanh Tung          |Vietnam|Artistic Gymnastics|
|NGUYEN Huy Hoang       |Vietnam|Swimming           |
|NGUYEN Hoang Phi Vu    |Vietnam|Archery            |
|NGUYEN THI ANH Anh Vien|Vietnam|Swimming           |
|NGUYEN Thuy Linh       |Vietnam|Badminton          |
|NGUYEN Tien Minh       |Vietnam|Badminton          |
|NGUYEN Thuy            |Vietnam|Judo               |
|NGUYEN Thi Tam         |Vietnam|Boxing             |
|NGUYEN van Duong       |Vietnam|Boxing             |
|QUACH Thi Lan          |Vietnam|Athletics          |
|THACH Kim Tuan         |Vietnam|Weightlifting      |
|TRUONG Thi Kim Tuyen   |Vietnam|Taekwondo          |
+-----------------------+-------+-------------------+

In [0]:
# Load to datalake
The_Vietnamese_Team.write.option("header", "true").csv(
    "abfss://tokyo-olympic-data@tokyoolympicdata7.dfs.core.windows.net/transformed-data/The_Vietnamese_Team"
)